.bg__theme-color-1 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-2 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-3 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-4 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-5 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-6 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-7 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-8 {
	Background-color: rgba(0, 0, 0, 0)
}
.bg__theme-color-9 {
	Background-color: rgba(0, 0, 0, 0)
}